@font-face {
    font-family:f1;
    src:url(DMSerifDisplay-Regular.ttf)
    }
    
    @font-face {
    font-family:f2;
    src:url(Prompt-Regular.ttf)
    }
    
    #Spices {
    background-image:url(../assets/img/bg1.jpg);
    background-size:10%;
    width:100vw
    }
    
    #banner {
    background-image:url(../assets/img/bg2.png);
    background-repeat:repeat;
    background-position:center
    }
    
    * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:f2
    }
    
    .Btn {
    padding:5vh;
    position:relative;
    display:flex;
    text-decoration:none;
    align-items:center;
    justify-content:flex-start;
    width:110px;
    height:40px;
    border:none;
    padding:0 20px;
    background-color:#000;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    border-radius:10px;
    box-shadow:5px 5px 0 #020202;
    transition-duration:.3s
    }
    
    .Btn i {
    width:13px;
    position:absolute;
    right:0;
    margin-right:20px;
    fill:#fff;
    font-size:x-large;
    transition-duration:.3s
    }
    
    .Btn:active {
    transform:translate(3px,3px);
    transition-duration:.3s;
    box-shadow:2px 2px 0 #8c20d4
    }
    
    .Btn:hover {
    color:transparent
    }
    
    .Btn:hover i {
    right:43%;
    margin:0;
    padding:0;
    border:none;
    transition-duration:.3s;
    color:#fff
    }
    
    .c {
    width:100vw;
    height:100vh
    }
    
    .custom-cursor {
    display:none;
    position:absolute;
    width:30px;
    height:30px;
    background-size:contain;
    pointer-events:none;
    z-index:1000;
    background-color:#ec7016;
    border-radius:50%;
    opacity:.5
    }
    
    .explore {
    position:absolute;
    z-index:11;
    bottom:4%;
    left:50%;
    transform:translateX(-50%)
    }
    
    .flx {
    display:flex;
    align-items:center
    }
    
    .jcsa {
    justify-content:space-around
    }
    
    .jcsb {
    justify-content:space-between
    }
    
    .jcse {
    justify-content:space-evenly
    }
    
    .load {
    width:100%;
    position:absolute;
    display:flex;
    justify-content:space-around;
    animation:scrolling 10s linear forwards
    }
    
    .load {
    width:100%;
    position:absolute;
    display:flex;
    justify-content:space-around;
    animation:marque 10s linear infinite
    }
    
    .load img {
    height:40vh
    }
    
    .load img {
    height:40vh
    }
    
    .loader {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    z-index:12;
    align-items:center
    }
    
    .loader {
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    align-items:center
    }
    
    .mcanva {
    position:relative;
    height:fit-content
    }
    
    .null {
    height:10vh;
    width:100%
    }
    
    .particle {
    position:absolute;
    width:2px;
    height:2px;
    background:#ec7016;
    pointer-events:none;
    opacity:0;
    animation:fade-out 1s forwards;
    border-radius:50%
    }
    
    .spic {
    width:100vw
    }
    
    .spic .left {
    align-self:flex-start;
    width:60%;
    margin-top:10vh;
    align-items:center;
    height:80vh
    }
    
    .spic .left h1 {
    margin-top:-5vh;
    font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif!important;
    font-size:15vh
    }
    
    .spic .left p {
    margin-top:5vh;
    text-align:center;
    width:80%;
    font-size:x-large
    }
    
    .spic .right {
    width:35%
    }
    
    .spic .right :nth-child(even) {
    animation:revscrolling 30s linear infinite
    }
    
    .spic .right :nth-child(odd) {
    animation:scrolling 30s linear infinite
    }
    
    nav {
    background:#0003;
    -webkit-backdrop-filter:blur(5px);
    padding:3vh 10vh;
    color:#fff!important;
    position:fixed;
    top:0;
    font-size:x-large;
    left:0;
    width:100%;
    height:10vh;
    z-index:11
    }
    
    nav .menu {
    display:flex;
    gap:10vh;
    width:fit-content
    }
    
    nav .menu li {
    display:inline-block;
    overflow:hidden
    }
    
    nav .menu li a {
    position:relative;
    text-decoration:none;
    color:#fff;
    transition:1s
    }
    
    nav .menu li a::after {
    transition:.5s;
    left:-100%;
    position:absolute;
    content:'';
    width:100%;
    bottom:0;
    border-bottom:5px solid #bd0202
    }
    
    nav .menu li a:hover::after {
    left:0
    }
    
    @keyframes fade-out {
    to {
    opacity:0;
    transform:translateY(-30px)
    }
    }
    
    @keyframes scrolling {
    0% {
    transform:translateY(0)
    }
    
    100% {
    transform:translateY(-100vh)
    }
    }
    
    @keyframes revscrolling {
    0% {
    transform:translateY(-50%)
    }
    
    100% {
    transform:translateY(20%)
    }
    }
    
    @keyframes marque {
    0% {
    transform:translateX(100vw)
    }
    
    100% {
    transform:translateX(-100vw)
    }
    }