 *{
    margin: 0;
    padding: 0;
}

.flx{
    display: flex;
    align-items: center;
}

.jcsa{
    justify-content: space-around;
}




/* ----------------------kishan----------------------------------- */
.custom-cursor {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    pointer-events: none;
    z-index: 1000;
    background-color: #ec7016;
    border-radius: 50%;
    opacity: 0.5;
}
.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #ec7016;
    pointer-events: none;
    opacity: 0;
    animation: fade-out 1s forwards;
    border-radius: 50%;
}
@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}