/* *{
    margin: 0;
    padding: 0;
}

.flx{
    display: flex;
    align-items: center;
}

.jcsa{
    justify-content: space-around;
}
 */

/* --------nav bar------------------ */

/* nav{
}

nav .logo img{
width: 10vh;
}

nav .menu ul{
    display: flex;
    gap: 3vw;
}

nav .menu ul li{
display: inline-block;

}

nav .menu ul li a{
    text-decoration: none;
    font-size: larger;
    color: black;
    display: inline-block;
    } */


    /* styles.css */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    cursor: none;
}

.container {
    height: 300vh; /* To enable scrolling */
    position: relative;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#section1 { background-color: #ffadad; }
#section2 { background-color: #ffd6a5; }
#section3 { background-color: #fdffb6; }

.blob {
    position: fixed;
    top: 50%;
    right: 10%;
    width: 100px;
    height: 100px;
    background-color: #00b4d8;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

/* ---------------------------end kevin---------------------------- */


/* ----------------------kishan----------------------------------- */
.custom-cursor {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    pointer-events: none;
    z-index: 1000;
    background-color: #ec7016;
    border-radius: 50%;
    opacity: 0.5;
}
.particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #ec7016;
    pointer-events: none;
    opacity: 0;
    animation: fade-out 1s forwards;
    border-radius: 50%;
}
@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}